rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{collection}/{docId} {
      allow get, create, update, delete, read, write: if request.auth.uid != null;
    }
    match /users/{userId} {
      allow get, create, update, delete, read, write: if request.auth.uid != null && request.auth.uid == userId;
    }
  }
}